<div [formGroup]="form" class="course-details-form">

<!--  CONTAINER ELEMENT-->
<!--  float label e o comportamento do label do form field-->
  <mat-form-field floatLabel="never">
<!--    matInput Diretiva-->
    <input matInput placeholder="Course title" formControlName="title" #title>
<!--MEIO QU EUMA MASCARA -->
    <span matPrefix>+55</span>
    <span matSuffix>00</span>

    <mat-hint align="end">
    {{title.value.length}}/60
    </mat-hint>

<!--   MATERIAL DIRETIVA DE ERRO-->
    <mat-error *ngIf="form.controls['title'].errors?.minlength">
      A minimum length of 5 characters is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <!--    matInput Diretiva-->
<!--    PODEMOS MUDAR A APARECECIA-->
    <input matInput placeholder="Course title" formControlName="title">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <!--    matInput Diretiva-->
    <!--    PODEMOS MUDAR A APARECECIA-->
    <input matInput placeholder="Course title" formControlName="title">
  </mat-form-field>

<!--  Não precisamos do mat- form-field para o radio button-->
  <mat-radio-group class="course-type" formControlName="courseType">
<!--    OPCOES DO NOSSO RADIO BUTTON-->
      <mat-radio-button [disabled]="true"value="free">
        Free
      </mat-radio-button >

       <mat-radio-button value="premium">
         Premium
       </mat-radio-button>


  </mat-radio-group>

<!--  SELECT BOX-->
  <mat-form-field appearance="outline">
<!--    multiple permite varias selecoes-->
    <mat-select formControlName="category" placeholder="Select Category" multiple>

<!--      MAT-OPT-GROUP PERMITE UM AGRUPAMENTO DAS OPÇOES-->
      <mat-optgroup label="esdras">
        <mat-option>
          Bonito
        </mat-option>

        <mat-option>
          Cheiroso
        </mat-option>

        <mat-option>
          Gato
        </mat-option>
      </mat-optgroup>

      <mat-option value="beginers">
        Beginners
      </mat-option>

      <mat-option value="intermediate">
       Intermediate
      </mat-option>

      <mat-option value="advanced">
        Advanced
      </mat-option>



    </mat-select>

  </mat-form-field>

  <mat-form-field appearance="outline">
<!--    DATE PICKER TEM DOIS COMPONENTES-->
<!--    UM INPUT PRO USUARIO DIGITAR  E UM POP UP QUE PRA ELE SELEICONAR A DATA-->
      <input matInput formControlName="releasedAt" placeholder="Release Date" [matDatepicker]="releasedAtPicker">


<!--      PRECISA LINKAR O INPUT AO DATE PICKER-->
<!--    UTILIZAMOS UM DATE PICKER TOGGLE-->
<!--    O MAT SUFFIX E PRA FICAR NO FINAL DO FORM FIELD-->
      <mat-datepicker-toggle matSuffix  [for]="releasedAtPicker">

      </mat-datepicker-toggle>

      <mat-date-range-picker #releasedAtPicker [dateClass]="dateClass">

      </mat-date-range-picker>


  </mat-form-field>





</div>



