
<div class="courses-panel">

  <div class="header">

    <h2 class="title">All Courses</h2>

<!--    Toltip quando o usauiro passar o mouse, no material voce consegue colocar condiçoes pora isso-->
<!--  ṔOSITION ONDE ELE VAI FICAR-->
<!--    SHOW DELAY QUANDO TEMPO VAI DEMOAR PRA APARECER-->
<!--    HIDE QUANDO TEMPO ELE VAI FICAR DEPOIS DE TIRAR O MOUSE-->
<!--    DISABLED CONDIÇÃO QUE ELE VAI AAPRECER-->
    <button mat-mini-fab routerLink="/add-new-course"
            matTooltip="Create a course"
            matTooltipPosition="right"
            [matTooltipShowDelay]="1000"
            [matTooltipHideDelay]="2000"
            [matTooltipDisabled]="false"
    >

      <mat-icon class="add-course-btn">add</mat-icon>
    </button>

  </div>

  <mat-tab-group>
    <mat-tab label="Begginers">
      <courses-card-list [courses]="beginnerCourses$ | async">

      </courses-card-list>
    </mat-tab>

    <mat-tab label="Advanced">
      <courses-card-list [courses]="advancedCourses$ | async">

      </courses-card-list>

    </mat-tab>
  </mat-tab-group>

</div>

